HELP.md
CLAUDE.md
.claude/
specs/
.specify/
target/
tmp/
logs/
*.log
docker/
org/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml
.DS_Store
arthas-output/

### Java ###
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### Maven ###
.mvn/
mvnw
mvnw.cmd

### Application ###
*.env
.env*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/dist*
*-lock.*

!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.ace-tool/
